@charset "utf-8";
.navbar {background: #000;}
.navbar li a{color: #fff;}
.sliderWrap {
    width: 100%;
    margin: 0 auto;
}
.bx-wrapper {
    -moz-box-shodow:0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
    border: 0 none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager {
    bottom: 30px;
}
.sliderWrap {position: relative;}
.nextBtn, .preBtn{position: absolute; top: 50%; margin-top: -50px; cursor: pointer;}
       .nextBtn{right: 0;}
       .preBtn {left: 0;}
.slide li {position: relative;}
.slide li a {
    background: #000; display: inline-block; color: #fff; padding: 10px 40px;
    border: 1px solid #fff;
    position: relative;
    bottom: 60px;
    left: 30px;
}
.slide li a:hover {background: #fff; color: #000;}
.slide .txt {
    position: absolute;
    top: 60px;
    left: 60px;
    color: #fff;
}
@media screen and (max-width: 699px) {
    
}