@charset "UTF-8";
#header {
    width: 100%;
    height: 100px;
    background-image: url(../images/04비행기-Recovered.png);
    position: fixed;
    z-index: 1;
}
.hdTop {
    width: 1200px;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.hdTop .search {
    font-family: 'Ubuntu';
}
.hdTop .search input {
    border-radius: 50px;
    padding: 8px 40px;
    text-align: right;
}
.hdTop fieldset{
    border: 0 none;
    position: relative;
}
.hdTop fieldset label {
    position: absolute;
    top: 7px;
    left: 10px;
}
.hdTop fieldset img {
    position: absolute;
    top: 9px;
    right: 10px;
}
.util ul li {
    float: left;
    padding: 5px;
}
.util ul li:first-child {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
}
.hdBtm {
    background: rgb(235, 235, 235);
    padding: 5px;
}
.hdBtm ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdBtm li {
    border-right: 1px solid rgb(221, 221, 221);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    padding: 5px 50px;
}
.hdBtm li.active {
    background: rgb(97, 97, 97);
}
.hdBtm li:first-child {
    border-left: 1px solid rgb(221, 221, 221);;
}
.Wrap {
    width: 100%;
}
.Wrap img {
    width: 100%;
}
.Wrap .contents {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    transform: translateY(-300%);
}
.contents form {
    background-color: #fff;
    width: 350px;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 150px;
}
.contents form fieldset {
    border: 0 none;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}
form .tourSearch {
    margin-left: 20px;
}
form select {
    border: 1px solid rgb(180, 180, 180);
    padding: 5px 10px;
}
form input {
    padding: 5px 10px;
    border: 1px solid rgb(180, 180, 180);
}
.reserv li a {
    color: #fff;
    display: block;
    width: 150px;
    text-align: center;
    padding: 20px 5px;
    background-color: rgb(36, 169, 209);
}
.reserv li a:hover {
    color: #000;
    background-color: #fff;
}
fieldset ul li:nth-child(2) {
    display: flex;
}
.contents>.txt {
    font-family: 'Heebo', sans-serif;
    font-size: 50px;
    letter-spacing: 0.1em;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 50%;
}
.contents .txt .ko {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
}
.balloon {
    float: right;
}
.balloon img{
    width: 700px;
    position: absolute;
    top: 50px;
    left: 40%;
}
.tour1>.tourImg img {
    width: 240px;
    margin-right: 20px;
}
.tour1 li {
    float: left;
    position: relative;
    z-index: 1;
}
.tour1 li .txt {
    position: absolute;
    bottom: 10px;
    background: rgba(5, 62, 88, 0.822);
    color: #fff;
}
.tour1 li .txt .num {
    color: rgb(24, 112, 71);
    font-weight: bold;
    float: right;
}
.sliderWrap {
    position: relative;
}
.sliderWrap .slider img {
    width: 250px;
}
.bx-wrapper {
    -moz-box-shadow: 0 none;
         box-shadow: 0 none;
         -webkit-box-shadow: 0 none;
         border: 0 none;
         margin-bottom: 0;
}
.bx-wrapper .bx-pager {
    border: 30px;
}
.nextBtn, .preBtn {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}
    .nextBtn {
        right: 0;
    }
    .preBtn {
        left: 0;
    }

/* /////////// */
.subContents .subimg{
    height: 200px;
    background: rgb(77, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subContents.company .subImg {
    background-image: url(../images/subimg01.jpg);
    display: block;
    margin: 0 auto;
}
.subContents.company .container {
    border: 1px solid rgb(107, 107, 107);
    border-top: 1px solid rgb(14, 139, 223);
    position: relative;
    top: -50px;
    background: #fff;
}
body.sub {
    background: #ccc;
}