@charset "UTF-8";
.hdTopWrap{
    background-image: url(../images/04비행기-Recovered.png);
    background-repeat: no-repeat;
    background-color: #0763a2;
    background-position: center;
}
.hdTop {
    width: 980px;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.hdTop .search {
    font-family: 'Ubuntu';
}
.hdTop .search input {
    border-radius: 50px;
    padding: 8px 40px;
    text-align: right;
}
.hdTop fieldset{
    border: 0 none;
    position: relative;
}
.hdTop fieldset label {
    position: absolute;
    top: 7px;
    left: 10px;
}
.hdTop fieldset img {
    position: absolute;
    top: 9px;
    right: 10px;
}
.util ul li {
    float: left;
    padding: 5px;
}
.util ul li:first-child {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
}
.hdBtm {
    background: rgb(235, 235, 235);
    padding: 5px;
}
.hdBtm ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdBtm li {
    border-right: 1px solid rgb(221, 221, 221);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    padding: 5px 20px;
}
.hdBtm li.active {
    background: rgb(97, 97, 97);
}
.hdBtm li:first-child {
    border-left: 1px solid rgb(221, 221, 221);;
}
.Wrap {
    padding-top: 30px;
    background: url(../images/01background.jpg) no-repeat center;
    background-size: cover;
}
.contentBox {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.TopLeftcon {
    float: left;
}
.TopLeftcon .reserv {
    margin-bottom: 20px;
}
.TopLeftcon .reserv>ul {
    float: left;
}
.TopLeftcon .reserv>ul>li>a {
    display: block;
    background: rgb(17, 115, 196);
    color: #fff;
    padding: 20px 30px;
    text-align: center;
    font-weight: bold;
}
.TopLeftcon .reserv>ul>li>a:hover {
    color: #000;
    background: #fff;
}
.TopLeftcon .reserv .resChoose {
    background: #fff;
    font-weight: bold;
    width: 500px;
    line-height: 29px;
}
.TopLeftcon .reserv .resChoose select,
.TopLeftcon .reserv .resChoose input {
    padding: 2px 10px;
}
.TopLeftcon .reserv .resChoose button {
    width: 80%;
    padding: 5px 0;
    font-size: 18px;
}
.TopRightcon .mainTxt .eng {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}
.TopRightcon .mainTxt .ko {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
}
.saletour li {
    float: left;
    margin-right: 20px;
}
.saletour .txt {
    background: rgb(21, 38, 39);
    padding: 5px 10px;
}
.saletour .txt .ko {
    color: #fff;
    font-weight: bold;
    float: left;
}
.saletour .txt .num {
    color: rgb(37, 153, 72);
    font-weight: bold;
    text-align: center;
}
.content2 {
    width: 980px;
    margin: 0 auto;
}
.content2>ul>li {
    float: left;
    width: 233px;
    margin-right: 20px;
}
.content2>ul>li:first-child li .txt{
    background: rgb(21, 38, 39);
    padding: 5px 10px;
}