@charset "utf-8";

.swiper-slide>.text-center{position: relative;}
.text-center>h2 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content li {float: left;}
.content li:nth-child(1){
    width: 25%;
}
.content li:nth-child(1){
    width: 50%;
}
.content li:nth-child(1){
    width: 25%;
}
.content li:nth-child(1){}
.content li:nth-child(1){}
.content li:nth-child(1){}
.content li:nth-child(1){}
.content li:nth-child(1){}