@charset "utf-8";

.swiper-slide>.text-center{position: relative;}
.text-center>h2 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content .main {float: left;height: 230px;} 
.content .main:nth-child(1){
    width: 25%;
    background: #000;
}
.content .main:nth-child(1)>h6 {color: #fff;}
.content .main:nth-child(1) .match,
.content .main:nth-child(1) .txt
{color: #fff;}
.content .main:nth-child(1) .match img{width: 100px;}
.content .main:nth-child(1) .team {color: #fff;}
.content .main:nth-child(2){
    width: 50%;
    background: #ccc;
}
.content .main:nth-child(2) ul {color: #fff; display: flex; justify-content: space-around;text-align: center;}

.content .main:nth-child(3){
    width: 25%;
    background: rgb(255, 147, 5);
}
.content .main:nth-child(4){
    width: 25%;
    background: #ccc;
}
.content .main:nth-child(5){
    width: 25%;
    background: #000;
}
.content .main:nth-child(6){
    width: 50%;
    background: #ccc;
}
.content .main:nth-child(7){
    width: 50%;
    background: #333;
}
.content .main:nth-child(8){
    width: 50%;
    background: #000;
}
@media screen and (min-width: 699px) {
    .content .main:nth-child(1) {}
}