@charset "UTF-8";
/* 공통 */
#header {
   height: 930px;
   position: relative;
}
.headerWrap {
    width: 1200px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background: #000;
    z-index: 1;
}
.toggle {
    width: 40px;
    height: 40px;
    background: #000;
    position: relative;
    z-index: 2;
}
.toggle div {
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
}
.toggle .bar1 {
    top: 10px;
}
 .toggle .bar3 {
    top: 30px;
}
.toggle.active .bar1{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.toggle.active .bar2{
    opacity: 0;
}
.toggle.active .bar3{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.visualWrap {
    position: relative;
}
.visualWrap h1 {
    color: rgb(47, 0, 255);
    letter-spacing: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainContain {
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
}
.mainContain .box {
    margin-bottom: 20px;
}
.box>li {
    float: left;
    height: 260px;
    padding: 20px;
    padding-bottom: 20px;
}
.box li:nth-child(1){
    width: 25%;
    background-image: url(../images/1bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box>li:nth-child(1) .match  {
    color: #fff;
    text-align: center;
    padding: 5px;
}
.box>li:nth-child(1) .match .vs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box>li:nth-child(1) .match img {
    width: 80px;
}
.box>li:nth-child(1) .area {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.box>li:nth-child(2){
    width: 50%;
    background: rgb(167, 31, 31);
}
.box>li:nth-child(2) .quick {
    margin: 5px;
}
.box>li:nth-child(2) li{
    float: left;
    width: calc(100% / 4);
    line-height: 40px;
    left: 50%;
    transform: translateX(30%);
}
.box>li:nth-child(2) li img {
    height: 50px;
}
.box>li:nth-child(2) .txt {
    display: flex;
}
.box>li:nth-child(2) span,
.box>li:nth-child(2) p
 {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.box>li:nth-child(2) li:nth-child(5) span,
.box>li:nth-child(2) li:nth-child(9) span
{
    background: rgba(255, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
}
.box>li:nth-child(3){
    width: 25%;
    background: rgb(211, 104, 3);
}
.box>li:nth-child(3) .txt {
    text-align: center;
    padding: 10px;
}
.box>li:nth-child(3) i {
    letter-spacing: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.box>li:nth-child(3) img {
    width: 100px;
    margin: 0 auto;
}
.box>li:nth-child(4){
    position: relative;
    width: 25%;
    background: url(../images/csr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box>li:nth-child(4) .txt {
    text-align: center;
    padding: 5px;
    text-align: center;
}
.box>li:nth-child(4) h2 {
    color: rgb(255, 81, 0);
    text-align: center;
    
}
.box>li:nth-child(4) .txt1{
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.box>li:nth-child(4) span {
    background: rgba(251, 255, 0, 0.412);
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
.box>li:nth-child(5){
    position: relative;
    width: 25%;
    background: url(../images/stock.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box>li:nth-child(5) .txt {
    text-align: center;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}
.box>li:nth-child(5) h2 {
    color: rgb(255, 81, 0);
}
.box>li:nth-child(5) span {
    background: rgba(251, 255, 0, 0.412);
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
.box>li:nth-child(6){
    width: 50%;
    background: url(../images/video.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box>li:nth-child(6) span {
    color: #fff;
    padding: 10px;
    font-weight: bold;
}
.box>li:nth-child(6) {
    position: relative;
}
.box>li:nth-child(6) img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sponser li>img {
    width: 1200px;
    height: 100px;
    border-radius: 10px;
}
.sponser li span {
    position: relative;
}
.sponser li span>img {
    position: absolute;
    bottom: 0;
    left: 50%;
}
.fcSpon {
    background-image: url(../images/sponBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
    margin: 20px 0;
}
.fcSpon h2 {
    color: #fff;
    padding: 20px;
    text-align: center;
}
.fcSpon h4 {
    color: #fff;
    text-align: center;
    padding: 10px;
}
.fcSpon::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    background: rgb(255, 255, 255);
    left: 50%;
    top: 70px;
    transform: translate(-50%, -50%);
}
.fcSpon .sponImg {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
.fcSpon .sponImg img {
    padding: 6px 20px;
}

/* pc */
@media screen and (min-width: 700px){
    .toggle {
        display: none;
    }
    .mainLi {
        float: right;
    }
    .mainLi a {
        color: #fff;
        display: block;
        padding: 10px;
    }
    .subMenu {
        display: none;
    }
    .visualWrap h1 {
        font-size: 40px;
    }
    .sponser {
        width: 1200px;
        margin: 0 auto;      
    }
    .fcSpon {
        display: block;
    }
    .feedContain {
        display: flex;
        width: 1000px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .feedContain .feeds {
        background: rgb(255, 0, 0);
        padding: 10px;
    }
    .feedContain .feeds h3,
    .feedContain .feeds p {
        color: #fff;
        text-align: center;
    }
    .feedContain .feeds ul li {
        float: left;
        width: calc( 100% / 2);
        color: #fff;
        text-align: center;
    }
    .feedContain .feeds ul li img {
        margin: 0 auto;
        padding: 20px 0;
    }
    .feedContain .insta li {
        float: left;
        width: calc( 1000px / 4 );
    }
    .feedContain .insta li:nth-child(1) {
        position: relative;
    }
    .feedContain .insta li:nth-child(1) p {
        font-size: 13px;
        background: #000;
        color: #fff;
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
    }
    .feedContain .insta li {
        position: relative;
    }
    .feedContain .insta li p {
        font-size: 13px;
        color: #fff;
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
    }
    .noticeWrap {
        background: #000;
        width: 1000px;
        margin: 0 auto;
    }
    .noticeWrap h3 {
        color: #fff;
        padding: 10px;
    }
}
/* mobile */
@media screen and (max-width: 699px) {
    .gnb {
        display: none;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
    }
    .visualWrap h1 {
        font-size: 16px;
    }
    .mainContain {
        width: 100%;
    }
    .box>li:nth-child(1){
        order: 1;
        width: 50%;
    }
    .box>li:nth-child(2){
        order: 3;
        width: 100%;
    }
    .box>li:nth-child(3){
        order: 2;
        width: 50%;
    }
    .box>li:nth-child(4){
        order: 5;
        width: 50%;
    }
    .box>li:nth-child(5){
        order: 6;
        width: 50%;
    }
    .box>li:nth-child(6){
        order: 4;
        width: 100%;
    }
    .sponser li>img {
        height: 100px;
    }
    .fcSpon {
        display: none;
    }
    .box>li:nth-child(4) h2 {
        font-size: 18px;
    }
    .box>li:nth-child(5) h2 {
        font-size: 18px;
    }
    .feedContain .feeds {
        width: 100%;
        height: 200px;
        background: rgb(128, 128, 128);
        text-align: center;
        color: #fff;
        padding-top: 10px;
    }
    .feedContain .feeds li {
        float: left;
        text-align: center;
        padding: 10px;
    }
    .feedContain .feeds li:last-child {
        padding: 10px 0;
    }
    .feedContain .feeds li img {
        width: 50px;
        margin: 0 auto;
        padding-top: 10px;
    }
    .feedContain .insta li {
        float: left;
    }
}